<style>
  .footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #343a40;
    padding: 20px;
    text-align: center;
  }

  .footer a {
    color: #000;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .social-icons {
    margin-top: 10px;
  }

  .social-icons img {
    display: inline-block;
    margin-right: 10px;
    width: 20px; 
    height: 20px; 
  }

  .footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    margin-bottom: 10px; 
  }

  .footer-menu li {
    margin-right: 20px;
  }
</style>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="footer-menu">
           <li><a href="#">Home</a></li>
           <li><a href="#">About</a></li>
           <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2023 Eco Farm Connect. All rights reserved.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          Designed and developed by <a href="https://www.example.com" style="color: #000;">selam</a>
        </p>
      </div>
    </div>
  </div>
</footer>